# Node
node_modules/
backend/node_modules/
frontend/frontend-app/node_modules/

# Python
__pycache__/
*.pyc

# Logs
logs/*.log
!logs/.gitkeep

# Build
dist/
build/

# Environment
.env
backend/.env

# Docker volumes
db_data/
